.afiliados__main-content {
    padding: 20px 50px 20px 50px;
    overflow-x: auto !important;
}
.afiliados__search-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .MuiInputBase-root input{
        width: 100%;
    }

    
}

.afiliados__alert-top  .afiliados__search .MuiPaper-root{
   
        min-width: 100px !important;
}

.afiliados__header-search{
    .MuiInputBase-root, input{
        width: 100%;
    }
}
.afiliados__search {
    padding: 10px 0px 10px 0px;
    justify-content: center;
    justify-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .afiliados__empty-list {
        justify-content: center;
        justify-self: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    img {
        width: 70%;
    }
   &> .MuiPaper-root {
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: row;

        min-width: 600px !important;

        svg {
            width: 30px;
            height: 30px;
            path {
                fill: $orange;
            }
        }

        input {
            border: none !important;
            height: 40px;
            width: 100%;
            font-size: 20px;
            padding: 0px 8px 0px 8px;

            &:focus {
                border: none;
                outline: none;
            }
        }
    }
}

.afiliados__message {
    padding-top: 20px;
    text-align: center;
    font-weight: 600;
}

@media only screen and (max-width: 750px) {
    .afiliados__main-content {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.afiliado__solo-main {
    background-color: white;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    padding-bottom: 15px;
    width: 80%;

    .MuiFormControl-root {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }
}

.afiliados__container-cat {
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    color: white !important;
    text-align: center;
    font-weight: 600;
    margin-bottom: 5px;
    width: 30px;
}
.bg-color-cat-A {
    background-color: $pink;
}

.bg-color-cat-B {
    background-color: $purple;
}
.bg-color-cat-C {
    background-color: $orange;
}
.bg-color-cat-D {
    background-color: $blue2;
}
.afiliado__encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: $gradient-yellow;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px 6px 0px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 7px 40px rgba(0, 0, 0, 0.04);
    span {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        color: white;
        vertical-align: middle;
    }

    svg {
        align-self: center;
        vertical-align: middle;

        width: 30px;
        height: 30px;
        padding-right: 15px;
        path {
            fill: white;
        }
    }
}

.afiliados__item-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    span {
        vertical-align: bottom;
        text-align: center;
        font-size: 17px;
        font-weight: 600;
        color: $grey-dark;
    }
    p {
        color: $grey-medium;
    }
}

.afiliados__grid-info {
    p {
        color: $grey-medium;
        font-weight: 500;
    }

    .MuiGrid-item {
        text-align: center;
        vertical-align: sub;
    }
}

.afiliado__grid{
padding: 20px;
    .MuiFormControl-root {
    width: none;
        padding: 0px;
        box-sizing: border-box;}
}
.afiliados__grid-info > div > span {
    vertical-align: bottom;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    color: $grey-dark;
}
.afiliado__text-aviso p {
    font-size: 25px;
    color: #00d9ff;
}

.afiliado__text-aviso .spanTop {
    font-size: 25px;
    color: #00d9ff;
}
.afiliado__title-solo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    svg {
        align-self: center;
        vertical-align: middle;

        width: 30px;
        height: 30px;
        padding-right: 15px;
        path {
            stroke: white;
            fill: none;
        }
    }
    span {
        vertical-align: bottom;
        text-align: center;
    }
}
