.aliados__content {
    padding: 20px 50px 20px 50px;
    overflow-x: auto !important;
    .MuiDialog-paperWidthSm {
max-width: 750px !important;
}
}

@media only screen and (max-width: 750px) {
    .aliados__content {
   padding-left:10px ;
   padding-right:10px ;
}


}

.aliados__list {
    margin-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;

    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.aliados__no-aliados {
    height: 70vh;
}

.aliados__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 25px 10px 25px;
    vertical-align: middle;
    margin-left: 10px;
}

.MuiSelect-select {
    color: red;
}
.aliados__form {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;

    justify-content: space-between;
    div {
        vertical-align: middle;
        align-content: center;

        span {
            align-items: center;
            vertical-align: middle;
            align-content: center;
        }
    }
}

.aliados__text-field {
    width: 280px;
}

.grid-container {
    margin: 15px;
    display: grid;
    grid-template-columns: 30% 17.5% 17.5% 17.5% 17.5%;
    padding: 10px;
}
.grid-item {
    font-size: 17px;
    font-weight: 600;
    text-align: start;
}

.grid-header {
    color: darken($color: $grey-light, $amount: 10);
    font-size: 17px;
    font-weight: 600;
    text-align: start;
}
.aliados__paginado{
    width: 50%;
  margin: 20px auto;

  .MuiPagination-ul{
      justify-content: center;
  }
}
.aliados__table {
    position: relative;
    align-self: center;
// display: block;
    justify-content: space-between;
    max-width: 100%;

    width: 100%;
    table-layout: auto;
    overflow-y: hidden;
    overflow-x: auto;
    border-collapse: collapse;
    box-sizing: content-box;

    th {
        color: darken($color: $grey-light, $amount: 10);
        font-size: 17px;
        font-weight: 600;
        text-align: start;
        border-bottom: 1px solid $grey-light;
        padding: 20px 10px 20px 10px;
    }
    thead{
        width: 100%;
    }
    thead tr:hover {
        background-color: white;
    }
    td {
        max-width: 350px !important;
    }
    tr,
    td {
        overflow: hidden;

        justify-content: space-between;
        padding: 20px 10px 20px 10px;
    }
    tr:hover {
        background-color: transparentize($color: $blue1, $amount: 0.86);
    }

    td:first-child,
    th:first-child {
        padding-left: 25px;
    }

    td:last-child,
    th:first-child {
        padding-right: 25px;
    }
}

.aliados__estado-activo {
    background: #2ed47a;
    border-radius: 100px;
    color: white;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    padding: 5px 15px 5px 15px;
}

.aliados__estado-inactivo {
    background: #fd2d4d;
    font-size: 15px;

    border-radius: 100px;
    color: white;
    text-align: center;
    padding: 5px 15px 5px 15px;
    width: auto;
    display: inline-block;
}

.aliados__estado-pendiente {
    background: #ffd800;
    border-radius: 100px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 15px;

    padding: 5px 15px 5px 15px;
}

.aliados__table-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: $grey-medium;
    font-weight: 600;
    font-size: 17;

    :nth-child(2n) * {
        color: darken($grey-light, 10);
        font-size: 13;
        font-weight: 400;
    }

    :nth-child(2n) {
        color: darken($grey-light, 10);
        font-size: 13;
        font-weight: 400;
    }
}

.aliado__solo-main {
    background-color: white;
    margin: 25px;
    border-radius: 6px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    padding-bottom: 15px;
}

.aliado__encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: $gradient-blue-hor;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 6px 6px 0px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 7px 40px rgba(0, 0, 0, 0.04);
    span {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        color: white;
    }

    > svg{
        align-self: center;
        vertical-align: middle;

        width: 30px;
        height: 30px;
        padding-right: 15px;
        path{
            fill: white;
        }
    }
}

.aliado__title-solo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    svg {
        align-self: center;
        vertical-align: middle;

        width: 42px;
        height: 40px;
        padding-right: 15px;
        path{
            stroke: white;
            fill: none
        }
    }
    span {
        
        vertical-align: bottom;
        text-align: center;
    }
}

.aliado__grid{
    flex-grow: 1;
    align-items: center;
    padding: 20px;

    .MuiGrid-item{
     
        text-align: center;
    }
}

.aliados__stepper-container{
    display: flex;
    max-width:70vw;
    .MuiTab-wrapper{
        color: #ffffff,
     }
}

.aliados__pagination-tventas{
    .MuiPagination-ul{
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
.aliados__filtros-coberturas{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:  10px 10px 20px 10px;
    padding:  10px 0px 10px 0px;
    vertical-align: middle;
    .MuiInputBase-root, input{
        width: 200px !important;
    }
.aliados__search-table-ventas{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
    .MuiFormControl-fullWidth{
        width: auto;
    }
}
.aliados__tab-slide{

    .MuiTab-textColorPrimary.Mui-selected{
        color: #4e51e2 !important;
        font-weight: bolder;

    
    }

    .MuiTab-textColorPrimary{
        color: $grey-dark;
        font-weight: 400px;
    }

    // .MuiTab-wrapper{
    //     color: #8d8282,
    //  }
}

 .aliados__title-stepper{
    color: darken($color: $grey-light, $amount: 10);
    font-size: 17px;
    font-weight: 600;
 }
.aliados__select-mui{
    .MuiInputBase-root, input{
        width: 100px;
        background-color: rgba(255, 255, 255, 0.00) !important;

    }
    &:hover .MuiOutlinedInput-notchedOutline {
        border-color: #1C78E6 !important
    }
   
    &:hover .MuiInputLabel-root {
        color: #1C78E6;// for lable color
    }

    &:focus .MuiOutlinedInput-notchedOutline {
        border-color: #1C78E6 !important
    }

    &:focus .MuiInputLabel-root {
        color: #1C78E6 !important
        
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: #1C78E6 !important;
        background-color: rgba(255, 255, 255, 0.00);
        color: black;
}
.MuiFormLabel-root.Mui-focused{
    padding-right: 15px;
    color: #1C78E6 !important;

}
}

.MuiStepLabel-iconContainer .MuiSvgIcon-root{
    color: #ffffff !important;
    fill: #ffffff !important;

}

.aliados__button-stepper{
    MuiButton-label{
        color:white
    }
}

.aliados__icon-add-stepper{
    MuiSvgIcon-root{
        color:$orange !important;
        fill:$orange !important;
    }
}

.aliado__sucprod-table  .MuiTableContainer-root{

overflow-x: hidden;
}
.aliado__sucprod-table h3 {
    color: $blue1
}

.MuiDialogContent-root::-webkit-scrollbar ,
.aliado__sucprod-table .MuiTableContainer-root::-webkit-scrollbar {
    width: 8px;
}
.MuiDialogContent-root::-webkit-scrollbar-track  ,

.aliado__sucprod-table  .MuiTableContainer-root::-webkit-scrollbar-track {
    border-radius: 100px;

    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.0);
}
.MuiDialogContent-root::-webkit-scrollbar-thumb  ,

.aliado__sucprod-table  .MuiTableContainer-root::-webkit-scrollbar-thumb {
    background-color: transparentize($color: $grey-dark, $amount: 0.3);
    border-radius: 100px;
    height: 10px;
}


.aliados__bottom-modal{
    .MuiSvgIcon-colorPrimary{
        color: $orange
    }
}

