.auth__main {
    align-items: center;
    background-color: white;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

.auth__image {
    // background: linear-gradient(90deg, red, blue);
    width: 40vw;
    height: 100vh;
    background-image: url("../../assets/logo (subesp).png"), url("../../assets/puntos.svg"), $gradient-blue2;
    background-repeat: no-repeat, repeat;
    background-size: contain, contain;
    background-position: center;
}

.auth__box-container {
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 100vh;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
    background-image: url("../../assets/Frame 1.svg"), url("../../assets/cajasanLogo.svg");
    background-repeat: no-repeat;
    background-position: bottom, 95% 0%;
    background-size: 101%, 200px 100px;
    background-attachment: local;
}



.auth__title {
    font-size: 70px;
    font-weight: 600;
    color: darken($color: $blue1, $amount: 20);
}

.auth__input {
    width: 80%;
    height: 30px;
    border: 1px solid $grey-light;
    border-radius: 20px;
    border-right: 0px;

    padding: 3px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 18px;

    &:hover {
        border: 1px solid $blue1;
        border-radius: 20px;
    }

    &:focus {
        border: 2px solid $blue1;
        border-radius: 20px;
        outline: none;
    }
}

.auth__label {
    font-weight: 600;
    color: $grey-medium;
}

.auth__social-networks {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.auth__alert-error {
    background-color: salmon;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 5px;
    width: 80%;
}

.auth__title-login {
    font-size: 70px;
}

.auth__login-box {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: calc(100vh - 100px);
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    width: 70%;
    padding: 10px;

    p {
        font-weight: 500;
        color: lighten($grey-medium, 10);
    }

    form {
        position: relative;
    }
}
.auth__button {
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    background: $gradient-blue;
    margin-top: 20px;
    padding: 10px;
    width: 80%;
    font-weight: 600;
    font-size: 15;

    &:hover {
        background: linear-gradient(90deg, lighten($blue1, 10), lighten($dark-blue, 10) 70.3%);
    }

    &:focus {
        background: linear-gradient(90deg, darken($blue1, 10), darken($dark-blue, 10) 70.3%);
    }

    &:disabled {
        background: linear-gradient(90deg, lighten($blue1, 10), lighten($blue1, 10) 70.3%);
    }
}

.auth__link-register {
    margin-top: 10px;
    margin-left: 5pxb;

    span {
        color: $orange;
    }

    &:hover span {
        text-decoration: underline;
    }
}

@media only screen and (max-width: 1020px) {
    .auth__image {
        display: none;
    }

    .auth__box-container {
    
        display: flex;
        overflow-y: scroll;
        width: 100vw;
        height:100% ;

    }
    .auth__login-box{

        overflow-y: hidden;
        max-height: none;
        margin-bottom: 50px;
    }
}
