.btn {
  background-color: transparent;
  border: none;
  color: $grey-dark;
  cursor: pointer;
  font-size: 12px;
  padding: 7px 10px 7px 10px;

  transition: color 0.3s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    color: lighten($color: $grey-dark, $amount: 10);
  }
}

.btn-blue1 {
  background-color: $blue1;
  border-radius: 2px;

  &:disabled {
    background-color: lighten($color: $blue1, $amount: 20);
  }
  &:hover {
    background-color: darken($color: $blue1, $amount: 20);
  }
}

.btn-block {
  width: 100%;
}

.btn-outline-blue {
  border-radius: 5px;
  border: 1px solid $blue1;
  margin: 5px;
  color: $blue1;
  font-size: 17;
  font-weight: 600px;
  transition: color 0.3s ease;

  &:hover {
    background-color: transparentize($color: $blue1, $amount: 0.8);
  }
}

.btn-outline-pink {
  border-radius: 5px;
  border: 1px solid $pink;
  margin: 5px;
  color: $pink;
  font-size: 17;
  font-weight: 600px;
  &:hover {
    background-color: transparentize($color: $pink, $amount: 0.8);
  }
}

.btn-outline-yellow {
  border-radius: 5px;
  border: 1px solid $orange;
  margin: 5px;
  color: $orange;

  font-size: 17;
  font-weight: 600px;
  &:hover {
    background-color: transparentize($color: $orange, $amount: 0.8);
  }
}

.btn-blue-gradient {
  background: $gradient-blue-hor;
  border-radius: 5px;
  border: 0px;
  padding: 12px;
  width: 160px;
  font-size: 15px;
  font-weight: bolder;
  color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  &:disabled {
    background: $grey-medium;
  }
  &:hover:not([disabled]) {
    background: $gradient-blue--hover;
  }
}

.btn-block {
  width: 100%;
}

.btn-orange-gradient {
  background: $gradient-yellow;
  border-radius: 5px;
  border: 0px;
  margin: 10px;
  padding: 12px;
  width: 160px;
  font-size: 15px;
  font-weight: bolder;
  color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  &:disabled {
    background: $grey-medium;
  }
  &:hover:not([disabled]) {
    background: $gradient-yellow-hover;
  }
}

.btn-block {
  width: 100%;
}
.btn-orange-gradient1 {
  background: $gradient-yellow;
  border-radius: 5px;
  border: 0px;
  margin: 10px;
  padding: 12px;
  width: 247px;
  font-size: 15px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 8px rgb(255, 255, 255);
  &:disabled {
    background: $grey-medium;
  }
  &:hover:not([disabled]) {
    background: $gradient-yellow-hover;
  }
}

.btn-block {
  width: 100%;
}
.btn-blue-gradient1 {
  background: $gradient-blue-hor;
  border-radius: 5px;
  border: 0px;
  padding: 12px;
  // width: 247px;
  font-size: 15px;
  font-weight: bolder;
  color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  &:disabled {
    background: $grey-medium;
  }
  &:hover:not([disabled]) {
    background: $gradient-blue--hover;
  }
}

.btn-block {
  width: 100%;
}

.btn-orange {
  background: $orange;
  border-radius: 5px;
  border: 0px;
  padding: 12px;
  width: 160px;
  font-size: 15px;
  font-weight: bolder;
  color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  &:disabled {
    background: $grey-medium;
  }
  &:hover:not([disabled]) {
    background: lighten($color: $orange, $amount: 10);
  }
}

.btn-block {
  width: 100%;
}
