.consultados__content {
    padding: 20px 50px 20px 50px;
    max-width: calc(95% - 250px);
 
}

.consultados__grid {
    flex-grow: 1;
    flex-wrap: wrap;
    display: flex;
    padding: 12px 0px 12px 0px;
    max-width: 90%;


    .MuiGrid-item {
        flex-wrap: wrap;
        flex-grow: 1;
        padding: 5px;
        // text-align: center;
        box-sizing: content-box;
    }
}
@media only screen and (max-width: 900px) {
    .consultados__content {
        padding-left: 10px;
        padding-right: 10px;
    max-width: 100%;
    .makeStyles-root-33{
        width: 100%;
    box-sizing: content-box;


    }

    }
}
