.dashboard__main-content {
    display: flex;
    flex-direction: column;
    padding: 20px 50px 20px 50px;

    
}

.dashboard__base{
    display: inline;
}

.dashboard__filtros{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-around;
    margin:  10px 10px 20px 10px;
    padding:  10px 0px 10px 0px;
    vertical-align: middle;
    .MuiInputBase-root, input{
        box-sizing: content-box;
        width: 100% !important;
        
    }
    
}

.dashboard__grid{
    width: 100%;
}

#carga-archivo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
    height: 365px;
    img{
        padding: 20px 0px 20px 0px;
    }
}
.dashboard__button-modal{
    padding: 15px;
    display: inline;
    float: right;

    .btn-outline-blue{
        padding: 12px;
        font-size: 15px;
        font-weight: bolder;
    }
}
#chart{
  
    padding: 15px;
}

.dashboard__dropzone{
    padding-bottom: 15px;
}

.dashboard__files{
    padding-top: 15px;
}

@media only screen and (max-width: 750px) {
    .afiliados__main-content {
   padding-left:10px ;
   padding-right:10px ;
}


}