.home__main-content {
    display: flex;
    flex-direction: row;
    background-image: url("../../assets/icons/vigiladoSuper.svg");
    background-position: top right;
    background-size: 250px 70px;
    background-repeat: no-repeat;
}

.home__empty {
    height: 70vh;
}

.home__sidebar {
    position: fixed;
    max-height: 100vh;
    overflow-y: auto;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 250px;
    box-shadow: 10px 3px 15px rgba(0, 0, 0, 0.05);
    background: $gradient-blue2;

    // background-image: url('../assets/sidebardec2.svg'), $gradient-blue2;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain, cover;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.home__sidebar-navbar {
    background-color: $gradient-blue2;
    margin-bottom: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home__sidebar-navbar > h3 {
    font-weight: 600;
    font-size: 22;
    color: white;
    line-height: 28px;
}

.home__sidebar-navbar p {
    color: white;
    line-height: 28px;
}

.home__sidebar-navbar-items {
    justify-content: space-between;
    color: transparentize($color: white, $amount: 0.5);

    hr {
        background-color: $grey-light;
        height: 1px;
        border: none;
        margin-right: 20px;
    }
}
.home__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -15px;
}
.home__p {
    padding: 18px;
    color: white;
    margin-left: 15px;
    margin-top: 10px;
}
.home__icon-ui{
    padding: 18px;
    color: white;
}
.home__icon{

        max-width: 100%;
    
}
.home__sidebar-item.home__sidebar-item-active {
    justify-content: space-between;
    padding-right: 25px;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    border-left: 2px solid $yellow1;

    background-color: transparentize($color: $white, $amount: 0.8);
    border-left: 3px solid $yellow1;

    transition: all 0.5s linear;

    svg {
        fill: $yellow1;
    }
    path {
        fill: $yellow1;
    }

    p {
        color: $yellow1;
    }
}

.home__sidebar-icon svg {
    path {
        fill: lighten($color: white, $amount: 50);
    }
}

.home__sidebar-logo {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    svg {
        width: 200px;
    }
}

.home__sidebar-item {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    transition: background-color 0.5s ease;

    svg,
    path {
        padding-left: 15px;

        fill: lighten($color: white, $amount: 20);
        width: 40px !important;
        height: 26px !important;
        transition: fill 0.3s ease;
        transition: transform 0.7s ease-in-out;
    }

    &:hover {
        background-color: transparentize($color: $white, $amount: 0.8);
        border-left: 3px solid $white;

        svg {
            fill: $white;
        }
        path {
            fill: $white;
        }

        p {
            color: $white;
        }
    }

    p {
        padding-top: 15px;
        padding-bottom: 15px;

        color: lighten($color: white, $amount: 20);
        margin-left: 25px;
        font-weight: 600;
        transition: color 0.5s ease;
    }
}
.MuiDrawer-paper{
    overflow: hidden !important;
}

.home__logo{
    width: 250px;
    position: absolute; 
    right: -15%; 
    top: 50%;
    transform: translate(-50%, -50%)
   


}

.home__logout {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    background-color: $orange;
    border: 0px;
    border-radius: 5px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    p {
        color: white;
        margin-left: 5px;
    }

    svg {
        fill: white;
    }
}

.home__decoration-sidebar {
    fill: aqua;
    height: 100%;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: cover;
}

.home__new-entry {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    transition: color 0.3s ease;

    &:hover {
        color: darken($color: white, $amount: 20);
    }
}

.home__entries {
    flex: 1 1 auto;
    margin-top: 30px;
    overflow-y: scroll;
}

.home__sidebar::-webkit-scrollbar {
    width: 5px;
}

.home__sidebar::-webkit-scrollbar-track {
    padding: 2px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.0);
}

.home__sidebar::-webkit-scrollbar-thumb {
    background-color: transparentize($color: $grey-dark, $amount: 0.5);
    border-radius: 100px;
    height: 10px;
}



.home__entry {
    background-color: white;
    border-radius: 4px;
    color: $grey-dark;
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
}

.home__entry-picture {
    height: 75px;
    width: 75px;
}

.home__entry-body {
    padding: 10px;
}

.home__entry-title {
    font-size: 14px;
    font-weight: bold;
}

.home__entry-content {
    font-size: 10px;
}

.home__entry-date-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.home__entry-date-box span {
    font-size: 12px;
}

.home__sidebar-avatar {
    width: 78px;
    height: 78px;
    border-radius: 100px;
    margin: auto;

    display: block;
}

.home__sidebar-avatar-border {
    background: $gradient-yellow;
    width: 85px;
    height: 85px;
    border-radius: 100px;

    display: flex;
}

.home__appbar {
    margin: 0px;
    display: flex;
    align-items: center;

    background-color: white;
    z-index: -1;
    box-shadow: 3px 15px 15px rgba(0, 0, 0, 0.05);

    // background:  linear-gradient( -90deg,$blue1,get-map($gradient-blue) 100%);
    height: 60px;
    width: 100%;

    svg {
        margin-left: 10px;
        fill: $blue1;
        font-size: 35px;
        border-radius: 5px;
    }

    h2 {
        margin-left: 10px;
        font-weight: bolder;
        color: $blue1;
    }
}

/*
 
  ######   ######  ########  ######## ######## ##    ## 
 ##    ## ##    ## ##     ## ##       ##       ###   ## 
 ##       ##       ##     ## ##       ##       ####  ## 
  ######  ##       ########  ######   ######   ## ## ## 
       ## ##       ##   ##   ##       ##       ##  #### 
 ##    ## ##    ## ##    ##  ##       ##       ##   ### 
  ######   ######  ##     ## ######## ######## ##    ## 
 
*/
@keyframes animatedBackground {
    from {
        background-position: right -200px, right -200px;
    }
    to {
        background-position: right 20px, right -20px;
    }
}
.home__screen-content {
    position: absolute;
    top: 0px;
    background-color: white;
    background-image: url("../../assets/logo (2).png"), url("../../assets/home-waves.svg");
    background-position: right 20px, right -20px;
    background-repeat: no-repeat;
    background-size: 45%, 53%;
    animation: animatedBackground 1s linear;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    height: auto;

    &::before {
        background-position: right -2000px, right -2000px;
    }

    &::after {
        background-position: right 20px, right -20px;
    }
}
.home__intro {
    width: 30vw;
    margin-top: 100px;
    margin-bottom: 200px;

    justify-content: center;
    align-items: center;

    p {
        font-size: 20px;
        font-weight: 400;
        color: darken($color: $grey-light, $amount: 20);

        margin-left: 10px;
    }

    button {
        color: white;
        margin-top: 40px;
        padding: 10px 20px 10px 20px;
        background: $gradient-yellow;
        border-radius: 50px;
        font-size: 20px;
        font-weight: 600;
        box-shadow: 0px 50px 50px rgba(24, 133, 107, 0.2);
    }

    & button:hover {
        color: transparentize($color: white, $amount: 0.3);
        background: $gradient-yellow-hover;
    }
}
.home__saludo {
    align-self: center;

    margin-bottom: 30px;

    font-size: 70px;
    font-weight: 600;
}
.home__item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
    
}

.home__breadcrumbs{
margin: 20px 0px 20px 30px;
}
.home__item-service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
    transition: all 0.3s ease-in;
    border: 0px solid $grey-light;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);

height: 400px;
    img {
        width: 180px;
        height: 180px;
        margin: 10px auto 25px auto;

        display: block;
        transition: all 0.3s ease-in;
    }

    h3 {
        align-self: center;
        margin-bottom: 10px;
        text-align: center;
    }

    p {
        margin-left: 15px;
        margin-right: 15px;
        vertical-align: text-top;
        font-size: 16px;
        color: darken($color: $grey-light, $amount: 20);
        text-align: center;
    }

    button {
        margin-top: 20px;
        width: 100px;
        align-self: center;
    }

   
    &:hover {
        transform: scale(1.1);

        border: 0px solid $grey-light;
        border-radius: 5px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    }
}
@keyframes backin {
    from {
        background-position: right -100px, right -200px;
    }
    to {
        background-position: right -10px, right -20px;
    }
}
