.notFound__main-content {
    align-items: center;
    background-color: $white;
    color: $grey-dark;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    height: 100%;
    margin-top: 50px;

    p{
        text-align: center;
        font-size: 22;
        font-weight: 600;
    }

    h2{
        text-align: center;
        font-size: 50;
        font-weight: 600;
    }

    svg{
        height: 400px;
        width: 75%;
    }
}

.notFound__image{
    svg{
        height: 200;
    }
}

.notFound__back-button{
    display: flex;
    flex-direction: row;
    margin: 15px;
    background-color: $pink;
    color:white;
    font-size: 16px;
    border-radius: 5px;
    padding-right: 15px;

    svg {
    fill: white;
    width: 20px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;

    }

    &:hover{
        background-color: lighten($color: $pink, $amount: 10);
    }

}