.nothing__main-content{
    align-items: center;
    background-color: $blue1;
    color: white;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    height: 100vh;

    p{
        text-align: center;
    }
}