.usuario__item {
    vertical-align: center;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;

    img {
        margin: 15px;
    }
    h4 {
        color: $grey-dark;
    }
}

.usuario__info-basic {
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(2) {
        width: 13%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: center;
        vertical-align: middle;
    }

    &:nth-child(6) {
        width: auto;
    }
}
.usuario__avatar-list {
    display: flex;
}
.usuario__aliado-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.usuario__item-complete {
    padding: 15px;
}
.usuario__lista {
    margin-top: 20px;
}

.usuario__fecha-act {
    color: $grey-medium;
    font-size: 14px;
}

.usuario__val-sucprod {
    .MuiDialogTitle-root{
        height: 100px;
        // background-image: url("../../assets/ModalYellow.svg") !important;
        background-position: top center;
        background-repeat: no-repeat;
        background-size:  101%;
        background-origin: border-box;
    
        h2{
            color: white;
            font-weight: 600;
            font-size: 28px;
        }
    
       
    }
    
}
.usuarios__enun-modal{
    font-size:20px;
    text-align:left
}

#alert-dialog-title-yellow {
    height: 50px;
    background-image: url("../../assets/ModalYellow.svg") ;
    background-position: top center;
    background-repeat: no-repeat;
    background-size:  101%;
    background-origin: border-box;

    h2{
        color: white;
        font-weight: 600;
        font-size: 28px;
    }
   
}

