* {
    font-family:  'Source Sans Pro', 'Open Sans', sans-serif !important;
    margin: 0px;
}

html,
body {
    background-color: $background;

    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
b, h5,h4,h3,h2,h1{
    color:$grey-dark
}
main {
    width: 100%;
    color: $grey-dark;

}

.title {
    font-size: 34px;
    font-weight: 600;

}

a{
    text-decoration: none;
}

.mt-1 {
    margin-top: 5px;
}

.mt-5 {
    margin-top: 20px;

}

.mb-1 {
    margin-bottom: 5px;
}

.mb-5 {
    margin-bottom: 20px;
}

.ml-1 {
    margin-left: 5px;
}

.ml-5 {
    margin-left: 15px;
}
.mr-1 {
    margin-right: 5px;
}

.mr-5 {
    margin-right: 15px;
    
}

.pointer {
    cursor: pointer;
}
button{
    border:none

}

.button-orange{
    background-color: $orange;
    color: white;
    font-size: 17px;
    font-weight: normal;
    border:0px;
    border-radius: 5px;
    padding: 15px;

    cursor: pointer;
    &:hover{
    background-color: lighten($color: $orange, $amount: 10) ;
    }

    &:focus{
    background-color: darken($color: $orange, $amount: 10) ;

    }
    
}

@media only screen and (max-width: 1020px) {
    html,
body {
    background-color: $background;

    height: auto;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

main {
    width: 100%;
    display: inline-block;


}
}

.MuiDialogTitle-root{
    background-image: url("../../assets/Subtract.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size:  101%;
    background-origin: border-box;

    h2{
        color: white;
        font-weight: 600;
        font-size: 25px;
    }

   
}


.MuiDialogTitle-root{
    padding: 10px 0px 30px 15px !important;
}
