$blue1: #1C78E6;
$blue2: #1F67CC;
$dark-blue: #123D81;
$light-blue: #01D8F5;

$yellow1: #FFD800;
$yellow2: #FFE36D;
$purple: #7A51ED;
$orange: #EF932B;
$orange2: #FABF33;
$grey-medium: #4F5565;
$grey-regular: #a3a4a8;
$grey-light: #D0C9D6;
$grey-dark: #3A4050;
$pink: #DA3273;
$dark-pink: #B71453;
$medium-pink: #E53E7F;
$light-pink: #E55D9C;

$green: #2ED47A;
$yellow: #FFD800;
$red: #fd2d4d;

$background:#F4F5F9;
$white: #f5f5f5;


$gradient-blue:linear-gradient(145.22deg, #1F67CC 31.73%, #01D8F5 88.73%);
$gradient-blue2:linear-gradient(135.98deg, #123D81 20.61%, #1F67CC 51.19%, #01D8F5 86.21%);
$gradient-blue-hor:linear-gradient(90deg, #1F67CC 27.6%, #01D8F5 100%);
$gradient-blue--hover:linear-gradient(90deg, lighten($color:#1F67CC, $amount:10) 27.6%, lighten($color:#01D8F5, $amount:10) 100%);
$gradient-blue-hor-select:linear-gradient(90deg, darken($color:#1F67CC, $amount:10) 27.6%,darken($color: #01D8F5, $amount:10) 100%);

$gradient-yellow: linear-gradient(270deg, #FFD800 13.54%, #EF932B 100%);
$gradient-yellow-hover: linear-gradient(270deg, lighten($color:#FFD800, $amount:10) 13.54%, lighten($color:#EF932B, $amount:10) 100%);
$gradient-yellow-focus: linear-gradient(270deg, darken($color:#FFD800, $amount:10) 13.54%, darken($color:#EF932B, $amount:10) 100%);

$gradient-yellow2: linear-gradient(180deg, #FFE36D 0%, #FFD800 44.79%, #EF932B 100%);
$gradient-pink: linear-gradient(180deg, #E55D9C 0%, #E53E7F 45.31%, #B71453 98.96%);
$gradient-pink-hor: linear-gradient(180deg, #E55D9C 0%, #E53E7F 45.31%, #B71453 98.96%);




